#header-Portfolio {
  text-align: center;
  font-size: 2rem;
  font-family: menlo;
  border: 0.1rem solid black;
  /* padding: 0.5rem; */
  width: 60vw;
  margin: 0 auto;
}

#linkSection-Portfolio {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 4rem 0 0 0;
}

.picLink-Portfolio {
  display: flex;
  width: 25vw;
  height: 25vw;
  outline: 0.1rem solid black;
  padding: 2rem;
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  
}

.aLink-Portfolio {
  background-color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
}