html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

    background: rgb(243, 252, 123);
    background: radial-gradient(circle, rgba(243, 252, 123, 1) 0%, rgba(41, 245, 212, 0.6363139005602241) 45%, rgba(255, 229, 179, 0.7763699229691876) 100%);
    /* Use a system font, if none are available use an available sans-sarif   font */
    z-index: -1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;

}

#border {
    background-image: url('images/border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* object-fit: contain; */
    z-index: 69;

}

#top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 40%;
    grid-template-areas:
        "input input"
        "search rando";

}

#searchBar {
    grid-area: input;
    width: 90%;
    margin: 1rem auto;
}

input {
    display: block;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
}

button {
    width: 5rem;
    height: 2rem;
    text-align: center;
    font-size: 0.75rem;
    margin: 1rem;
}

#searchButt {
    grid-area: search;
    margin: auto;
}

#randoButt {
    grid-area: rando;
    margin: auto;
}

#imageArea {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 1;
}

.bgPatterns {
    background-image: url('images/pattern.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10rem;
    height: 10rem;
    margin: 0;

}

.coolImg {
    padding: 0.5rem;
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0;
    object-fit: contain;
}

a {
    position: fixed;
    bottom: 20%;
    z-index: 10;
    font-size: 1.25rem;

}

#youTube {
    color: rgb(243, 133, 255);
    backdrop-filter: invert(60%);
    position: fixed;
    right: 2%;
}

#reSearch {
    color: rgb(243, 133, 255);

    backdrop-filter: invert(60%);
    position: fixed;
}

#discLink {
    color: rgb(243, 133, 255);
    backdrop-filter: invert(60%);
    position: fixed;
    left: 2%;
}

a:hover {
    background-color: rgb(220, 110, 190);
}

#focusImg {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

/* scale up for smaller windows and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
    .coolImg {
        width: 15rem;
        height: 15rem;
    }

    .bgPatterns {
        width: 15rem;
        height: 15rem;
    }

    input {
        height: 3rem;
        font-size: 2rem;
    }

    button {
        width: 7rem;
        height: 2rem;
        font-size: 1rem;
    }

    a {
        font-size: 2rem;
        bottom: 3%;

    }
}

/* sclae up full screen monitors/laptops */
@media (min-width: 1200px) {
    .coolImg {
        width: 17rem;
        height: 17rem;
    }

    .bgPatterns {
        width: 17rem;
        height: 17rem;
    }

    input {
        height: 5rem;
        font-size: 4rem;
    }

    button {
        width: 6rem;
        height: 2.5rem;
        font-size: 1rem;
    }

    a {
        font-size: 3.75rem;
        bottom: 1%;
    }
}